html {
  font-size: 24px;
}

.newspaper {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 600px;
  padding-left: 10px;
}

.name {
  font-size: 2rem;
  font-family: "Times New Roman", serif;
  text-transform: uppercase;
}

.author {
text-transform: uppercase;
font-weight: bold;
}

.headline {
  font-size: 2em;
  font-weight: bold;
}

.sub-headline {
  font-weight: 100;
  font-style: italic;
  font-size: 1.5em;
}

.text {
  text-indent: 20px;
  line-height: 2em;
}

.text::first-letter {
  font-weight: bold;
  font-size: 2em;
}

.container {
background-color: #f4f4aa;
border-radius: 10px;
width: 650px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}